MAIL_APP_PASSWORD=your_gmail_app_password
CLOUDINARY_URL=your_cloudinary_url
SPRING_MAIL_USERNAME=your_gmail_username

DB_HOST=localhost
DB_PORT=3307
DB_NAME=travel_recommendation
DB_USER=root
DB_PASS=root

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/travel_recommendation
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

AI_SERVICE_BASE_URL=http://localhost:8000
